sudo: required
dist: trusty # see https://docs.travis-ci.com/user/ci-environment & https://docs.travis-ci.com/user/trusty-ci-environment

language: c

services:
  - docker

env:
#  - BAGTAINER_ID="0002"
  - BAGTAINER_ID="0003"
  - BAGTAINER_ID="0004"
  - BAGTAINER_ID="0005"
  - BAGTAINER_ID="0007"

install:
  - docker build -t bagtainers/$BAGTAINER_ID $BAGTAINER_ID/data/container/.

before_script:
  - printenv
  - mkdir -p ~/o2r/run

script:
  - id
  - docker run -v $(pwd)/$BAGTAINER_ID:/bag:ro -v ~/o2r/run:/o2r_run:rw bagtainers/$BAGTAINER_ID

notifications:
  email:
    - daniel.nuest@uni-muenster.de
